Notebook para transformar el texto de ultimahoracol a csv con info relevante

In [1]:
import pandas as pd
import seaborn as sns
import unidecode

In [34]:
df = pd.read_csv("comorbilidades.csv")
df["comorbilidades"] = df["comorbilidades"].fillna("")
df = df.rename(columns={"comorbilidades": "texto"})

In [35]:
df.head()

   fecha   genero  edad     ciudad texto
0  26/03   Hombre    84     Bogotá
1  26/03    Mujer    59     Bogotá
2  29/03   Hombre    73     Bogotá
3  29/03    Mujer    57     Bogotá
4  29/03    Mujer    33  Cartagena

In [36]:
similaridades = {
    "hta":["hipertension", "hipertensión", "hipertenso", "hta"],
    "obesidad": ["obesidad", "obeso"],
    "fumador": ["fumador", "exfumador", "tabaquismo", "extabaquismo"],
    "hipoxia":["hipoxia"],
    "cardiovascular": ["cardiovascular", "cardiopatia", "cardiaca", "circulatorias", "trombosis", "anticuag", "coronaria"],
    "diabetes": ["diabetes"],
    "enfermedad respiratoria": ["asma", "epoc", "neumonia", "oxigeno"],
    "enfermedad renal": ["renal"],
    "hipotiroidismo": ["hipotiroidismo"],
    "cancer": ["cancer", "masa", "leucemia", "tumor"],
    "alcoholismo": ["alcoholismo", "alcohol"]
    
}
def estandarizar(s):
    s = s.lower()
    s = unidecode.unidecode(s)
    s = s.replace(",","")
    s = s.replace(".","")
    s = s.replace(":","")
    s = s.replace("comorbilidades","")
    return s

def generar_lista(s):
    lista = ""
    for sim in similaridades:
        for opt in similaridades[sim]:
            if opt in s:
                lista += f"{sim},"
                break
    if lista != "":
        lista = lista[:-1]
    return lista

In [39]:
df["texto_comorb"] = df["texto"].apply(estandarizar)
df["comorbilidades"] = df["texto_comorb"].apply(generar_lista)
df.to_csv("comorbilidades2.csv", sep=";", index=False, columns=["fecha", "genero", "edad", "ciudad", "texto_comorb", "comorbilidades"])

In [9]:
df_all = pd.read_csv("comorbilidades.csv")
df_all.head()

   fecha   genero  edad     ciudad comorbilidades
0  26/03   Hombre    84     Bogotá            NaN
1  26/03    Mujer    59     Bogotá            NaN
2  29/03   Hombre    73     Bogotá            NaN
3  29/03    Mujer    57     Bogotá            NaN
4  29/03    Mujer    33  Cartagena            NaN

In [10]:
df_all_new = df_all.append(df)

In [11]:
df_all_new.tail()

,fecha,genero,edad,ciudad,comorbilidades,texto,texto_comorb
11,03/05,Mujer,26,Bogotá,obesidad,en Bogotá. Comorbilidades: Obesidad.\n,obesidad\n
12,03/05,Hombre,77,Bogotá,cancer,en Bogotá. Comorbilidades: aneurisma aorta ab...,aneurisma aorta abdominal y cancer broncogen...
13,03/05,Mujer,80,Cúcuta,enfermedad respiratoria,en Cúcuta. Comorbilidades: Epoc.\n,epoc\n
14,03/05,Hombre,56,Bogotá,,en Bogotá. Sin comorbilidades.\n,sin \n
15,03/05,Mujer,54,Bogotá,,en Bogotá. Sin comorbilidades,sin

In [ ]:
df_all_new.to_csv("comorbilidades.csv", sep=";", index=False, columns=["fecha", "genero", "edad", "ciudad", "texto_comorb", "comorbilidades"])